.contact-header{
    padding-top: 20px ;
    padding-bottom: 20px;
    background: #05134e;
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.3px;
}
.about-us-image{
    /* background: url("../../assets/photo-1528845922818-cc5462be9a63.jpg") no-repeat; */
    height: 100%;
    width: 65%;
    border-radius: 11px;
    background-size: 100% 100%;
    margin: 0 auto;
}
.about-us-text{
    width: 80%;
    margin: 0 auto;
}
.about-us-text p{
    font-size: 17px;
    /* font-weight: 500; */
    text-align: justify;
    font-style: italic;
}
.about-us-cards .card{
    width: 80%;
    min-height: 265px;
}
.about-us-cards .card-text{
    text-align: justify;

}
.what-how{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.vision-text p{
    color: #6b6767;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}
.vmbox{
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 7px;
}
.vmbox h2{
    color: #06400c;
}
.about-sect1{
   
    /* background: #05134e;
    color: white; */
    padding-top: 80px;
    padding-bottom: 30px;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    /* padding-top: 20px; */
    margin-top: 36px;
    background: #06400c;
    background-color: #06400c;
    /* background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%); */
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(90% - 3vw));
    padding-bottom: 70px;
}
.company-image{
    /* background: url("../../assets/pexels-dominika-roseclay-1036841.jpg") no-repeat; */
    /* background: url("../../assets/v3.jpeg") no-repeat; */
    

    /* background: url("../../assets/IMG_3784.PNG") no-repeat; */

    height: 100%;
    width: 100%;
    margin:0 auto;
    background-size: 100% 100%;
    /* clip-path: ellipse(); */
}
.about-sect2{
    
    padding-top: 25px;
    padding-bottom: 25px;
    /* background: #05134e; */
    /* width: 75%; */
    /* margin: 0 auto !important; */
    /* margin-bottom: 20px !important; */
    /* border-radius: 13px; */
    padding-top: 25px;
    padding-bottom: 25px;
}

.vision-box{
    color: #fff;
    text-align: center;
}
.vision-title{
    margin-bottom: 15px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}
.vision-col{
    border-right: 2px solid #f4ffff;
}
@media only screen and (max-width :600px)
{
    .vision-text p {
        width: 100%;
    }
    .vmbox{
        width: 100%;
    }
    .company-image{
        /* background: url("../../assets/pexels-dominika-roseclay-1036841.jpg") no-repeat; */
        /* background: url("../../assets/v3.jpeg") no-repeat; */
    
        height: 200px;
        width: 100%;
        margin:0 auto;
        background-size: 100% 100%;
        /* clip-path: ellipse(); */
    }
}
.about-logo{
    height: 250px;
    width: 250px;
    background: url('../../assets/logo.jpg') no-repeat;
    border-radius: 50%;
    background-size: contain;
    /* background-position-x: center; */
    margin: 0 auto;
}

.about-text{
    padding: 15px;
    font-size: 19px;
    font-weight: 400;
    color: #817878;
    /* color: #929292; */
    text-align: justify;
}