#basic-navbar-nav{
    margin-left: 50%;
    font-weight: 600;
}
NavDropdown{
    margin-left: 25px;
}
.menu-item{
    margin-left: 25px;
    letter-spacing: 1.1px;
}
.contact-item{
    border: solid 2px #07ad07;
    border-radius: 20px;
    /* background: #07ad07; */
    color: #07ad07 !important;
    font-weight: 500;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.app-logo{
    margin-left: 25px;
    font-weight: 600;
    font-size: 35px !important;
    color: #06400c !important;
}
.app-logo.navbar-brand{
    padding: 0 !important;
}
.navbar{
    padding: 0 !important;
}
.app-logo div{
    height: 75px;
    width: 75px;
    margin-top: 3px;
    border-radius: 50%;
    display: inline-block;
    /* background: url("../../assets/IMG-20210511-WA0039.jpg") no-repeat;
    background: url("../../assets/log-edited.png") no-repeat; */

    background: url("../../assets/logo.jpg") no-repeat;


    background-size: 100% 100%;

}

  .dropdown .dropdown-menu {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 300px;
    opacity: 1;
}
.navbar-collapse.show{
    z-index: 9999 !important;
    margin: 0px auto !important;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 300px;
    opacity: 1;
}
.navbar-collapse.show{
    /* z-index: 9999 !important;
    margin: 0px auto !important; */
      /* background: #e6e6e6; */
      padding-bottom: 8px;
}
@media only screen and (max-width :600px)
{
    .navbar-brand{
        margin-left: 0;
        margin-right: 0;
        font-size: 20px !important;
    }
    .navbar-toggler:focus{
        outline: 0 !important;
        box-shadow: none !important;
        border-color: rgba(0, 0, 0, 0.1) !important;
    }
    #basic-navbar-nav{
        margin-left: 0;
    }
    .contact-item{
        width: 80%;
        text-align: center;
    }
    header{
        height: auto;
    }
}
@media only screen and (min-width:768px) and (max-width : 1024px){
    #basic-navbar-nav{
        margin-left: 25% !important;
    }
}

span.app-logo{
    display: table;
}
.camphire-main-logo-text{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}